[submodule "aotds-docks"]
	path = aotds-docks
	url = gh:yanick/aotds-docks
[submodule "aotds-battle"]
	path = aotds-battle
	url = gh:yanick/aotds-battle
[submodule "aotds-app"]
	path = aotds-app
	url = gh:yanick/aotds-app
[submodule "aotds-rest"]
	path = aotds-rest
	url = git@github.com:aotds/aotds-rest.git
